*{
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    height: 100%;
    background-color: rgb(186, 224, 164);
}


section {
    display: flex;
    background-color: rgb(81, 85, 83);
    border: black solid 5px;
    border-radius:20px;
    height: 300px;
    width: 300px;
    margin: auto;
    margin-top: 300px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    line-height: 2;
}

form input {
    border: black solid 1px;
    border-radius: 4px;
}


button {
    width: 50%;
    align-self: center;
    margin-top: 10px;
    border: black solid 3px;
    border-radius:20px;
}